.modal-footer {
    justify-content: center;
}

.footerOrderSuccess {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalBody {
    display: flex;
    justify-content: space-around;
}

.cartDetail {

}